#transicion::before {
  content: 'Hola! Mi nombre es';
  opacity: 0;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  transition: opacity 1.5s;
  letter-spacing: 2px;
  overflow: hidden;
}

#transicion2 {
  /*content: 'Sebastián Ramírez Araya';*/
  border-right: 1px solid rgb(204,214,246);
  /*opacity: 0;*/
  animation: 4s typing steps(23) infinite;
  /*animation-fill-mode: forwards;*/
  /*transition: opacity 3.5s;*/
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

#transicion3::before {
  content: 'Data Scientist y Desarrollador en Python';
  opacity: 0;
  animation: 4s fadeIn;
  animation-fill-mode: forwards;
  transition: opacity 3.5s;
  letter-spacing: 2px;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0px;
  }
  30%, 60% {
    width: 477px;
  }
}

